<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<form method="POST" class="post-form container jumbotron" action="/admin/update/{{ employee.id }}">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Update Details</h3>
            </div>
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_ename">Employee Name:</label>
            <div class="col-sm-4">
                <input  class="form-control" type="text" name="empName" id="id_ename" required maxlength="100" value="{{ employee.empName }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_psw">Employee Password :</label>
            <div class="col-sm-4">
                <input class="form-control"type="password" name="password" id="id_psw" required maxlength="100" value="{{ employee.password }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_eemail">Employee Email:</label>
            <div class="col-sm-4">
                <input class="form-control" type="email" name="email" id="id_eemail" required maxlength="254"
                       value="{{ employee.email }}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_econtact">Employee Contact:</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="phone" id="id_econtact" required maxlength="15"
                       value="{{ employee.phone }}"/>
            </div>
        </div><div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_address">Employee Address:</label>
            <div class="col-sm-4">
                <textarea class="form-control" type="text" name="address" id="id_address" required
                >{{ employee.address }}</textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>